body { font-family: Arial; background:#f9fff9; margin:0; padding:20px; }
h1,h2{ color: #228B22; }
button { background: #228B22; color:white; border:none; padding:8px 16px; border-radius:6px; cursor:pointer; }
input, select, textarea { padding:8px; margin:5px 0; width:100%; max-width:400px; }
a { color:#228B22; text-decoration:none; }
